html {
    height: 100%;
}
body {
    margin: 0 auto;
    width: 90%;
    background-image: linear-gradient(to bottom, rgba(255, 189, 189, 0.75), rgba(90, 79, 207, 0.75)),
        url(./../../Resources/images/creators/bg-pop-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background-color: #fff;
    text-align: center;
    font-family: monospace;
    font-weight: 100px;
    font-size: 50px;
    color: #5a4fcf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.area {
    min-height: 69%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 5%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p {
    padding: 0%;
    margin: 1%;
    color: #ffffde;
    font-family: monospace;
    font-size: 140%;
    font-weight: bolder;
    margin-left: 0%;
}
.creator {
    width: 70%;
    height: 30%;
    display: flex;
    padding: 20px;
    text-align: left;
    align-items: center;
}
img {
    background-color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: #333;
    object-fit: cover;
}
.creator-info {
    width: 90%;
    padding-left: 20px;
}
h2 {
    text-align: left;
    -webkit-text-stroke: 1px #ffffde;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
    font-family: monospace;
    font-size: 200%;
    font-weight: bolder;
}
.details {
    height: 60%;
    width: 100%;
}

.email {
    color: #9999ff;
}

#back {
    font-size: 3vmin;
    border: 2px solid darkcyan;
    color: darkcyan;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
}

#back:hover {
    border: 4px solid darkcyan;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
}

#bkA,
#bkA:hover,
#bkA:focus,
#bkA:active {
    text-decoration: none;
    color: inherit;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
